* {
  box-sizing: border-box;
}

.page {
  font-family: 'Open Sans', sans-serif;
  background-color: #412316;
}

/* Header Styles */
.brand-head {
  /* flex box */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* box */
  width: 100%;
  border: 1px solid black;
  padding: 20px;
}

.brand-logo {
  width: 2em;
}

.brand {
  color: #fbf2c0;
}

/* Main Page Styles */
